[report]
	omit=
		*/venv*
		*/ctypes*
		*/html*
		*crypt.py*
		*decimal.py*
		*/encodings*
		*hmac.py*
		*mimetypes.py*
		*stringprep.py*
		*uuid.py*
		*/http*
		*numbers.py*
		*click/*
  		*flask/*
  		*itsdangerous.py*
  		*jinja2/*
  		*markupsafe/*
  		*werkzeug/*
  		*flask_jsonpify.py*
		*jwt/*
		*passlib/*
		*virtualenv/*
		*email/*
		*smtplib.py*