<!DOCTYPE html>
<html>
  <head>
  	<title>WeConnect API :: v1</title>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='swagger-ui.css') }}">
  </head>
  <body>
  	<div id="swagger-ui"></div>

	<script src="{{ url_for('static', filename='swagger-ui-bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='swagger-ui-standalone-preset.js') }}"></script>

	<script>
		window.onload = function() {
		  const ui = SwaggerUIBundle({
		    url: "{{ url_for('static', filename='swagger_v1.json') }}",
		    dom_id: '#swagger-ui',
		    presets: [
		      SwaggerUIBundle.presets.apis,
		      SwaggerUIStandalonePreset
		    ]
		  })

		  window.ui = ui
		}
	</script>
  </body>
</html>